{% extends 'parent/base.html' %}
{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="form-container">
  <h2>Reset Password</h2>

  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Change Password" class="submit-btn">
    </form>

    {% if form.errors %}
      <p class="msg error-msg">⚠️ لطفاً فیلدها را به درستی پر کنید.</p>
    {% endif %}

  {% else %}
    <p class="msg error-msg">⚠️ لینک نامعتبر یا منقضی شده است.</p>
  {% endif %}
</div>
{% endblock %}
